body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.d-flex ,.p-1 ,.bg-primary{
  margin-top: 625px;
}
.cure{
background-color:  greenyellow!important;
}
.infect{
  background-color: yellow!important;
}
.dead {
  background-color: red!important;
}
.mr-2  ,.border ,.text-center{
  
  margin-top: 10px;
}
.navbar ,.navbar-expand-sm ,.navbar-light {
  background-color: greenyellow!important;
  margin-top: -50px;
}